@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TicketLog</title>

    <environment names="Development">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="~/materialize/css/materialize.css" />
        <link rel="stylesheet" href="~/css/site.css" />
       
    </environment>
    <environment names="Staging,Production">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav>
        <div class="nav-wrapper blue">
            <a href="#" class="brand-logo center">SnowPass</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="side-nav">
            </ul>   
            <ul id="nav-mobile" class="left hide-on-med-and-down">                
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Statistics" asp-action="Index">Statistics</a></li>
                <li><a asp-area="" asp-controller="Tickets" asp-action="Index">Tickets</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li>
                    <div class="user-view">
                        <img src="https://17dfdj3mzri3pv5x11aaujx1-wpengine.netdna-ssl.com/wp-content/uploads/2013/08/homepage-step-1.2-.png" />
                        
                    </div>
                </li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="large material-icons">&#xE3Df;</i><h4>SnowPass</h4></a></li>
                <li><hr /><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Statistics" asp-action="Index">Statistics</a></li>
                <li><a asp-area="" asp-controller="Tickets" asp-action="Index">Tickets</a></li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        @RenderBody()
    </div>
        <footer class="page-footer blue" style="position:fixed; left:0; bottom: 0px; right:0; padding:1rem; text-align:center;">
            <strong>&copy; 2017 - Canadian Ski Counsel</strong>            
        </footer>
   

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/materialize/js/materialize.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                asp-fallback-src="~/materialize/css/materialize.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>

