@model TicketLog.Models.Ticket

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create">

  <div class="container">
   <h1 class="col-xs-offset-4" style="padding-top:50px; padding-bottom: 30px;">Create A Ticket</h1>
    <div class="form-horizontal col-xs-offset-4">
        <div class="form-group">
            <div class="col-md-10">
                <input asp-for="SubmissionDate" class="form-control" />
                <span asp-validation-for="SubmissionDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <select asp-for="Issue" class="form-control">
                    <option value="" disabled-selected>Select Issue</option>
                    <option>Apply Now Button</option>
                    <option>Photo/Proof</option>
                    <option>Lost Snowpass</option>
                    <option>Payment Cannot be Processed</option>
                    <option>Application Cancelled</option>
                </select>
                <span asp-validation-for="Issue" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" placeholder="Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input asp-for="TimesOccured" class="form-control" placeholder="Times Occured" />
                <span asp-validation-for="TimesOccured" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <select asp-for="Severity" class="form-control">
                    <option value="" disabled-selected>Select Severity</option>
                    <option>Low</option>
                    <option>Medium</option>
                    <option>High</option>
                </select>
                <span asp-validation-for="Severity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Create" class="btn btn-default btn-block" />
            </div>
        </div>
    </div>
  </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
